absl-py==0.11.0
aiohttp==3.7.4
aiohttp-cors==0.7.0
aioredis==1.3.1
alembic==1.4.1
async-timeout==3.0.1
attrs==20.3.0
azure-core==1.9.0
azure-storage-blob==12.6.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
blessings==1.7
cachetools==4.2.1
certifi==2023.7.22
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cliff==3.7.0
cloudpickle==1.6.0
cmaes==0.8.2
cmd2==1.5.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorful==0.5.4
colorlog==4.7.2
cryptography==3.3.2
cycler==0.10.0
databricks-cli==0.14.1
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
docker==4.4.1
entrypoints==0.3
filelock==3.0.12
Flask==2.2.5
future==0.18.2
gitdb==4.0.5
GitPython==3.1.37
google-api-core==1.26.1
google-auth==1.27.1
google-auth-oauthlib==0.4.3
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.36.1
hiredis==1.1.0
hyperopt==0.2.5
idna==2.10
ipykernel @ file:///C:/ci/ipykernel_1596190155316/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1614616640087/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.3
joblib==1.2.0
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213356021/work
kiwisolver==1.3.1
Mako==1.2.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mlflow==2.10.0
msgpack==1.0.2
msrest==0.6.19
multidict==5.1.0
nbformat==5.1.2
networkx==2.5
numpy==1.22.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.12
opencensus-context==0.1.2
optuna==2.5.0
packaging==20.9
pandas==1.2.3
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
pbr==5.5.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==10.0.1
plotly==4.14.3
prettytable==2.1.0
prometheus-client==0.9.0
prometheus-flask-exporter==0.18.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.18.3
psutil==5.8.0
py-spy==0.3.4
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments @ file:///tmp/build/80754af9/pygments_1613849567472/work
pyparsing==2.4.7
pyperclip==1.8.2
pyreadline3==3.3
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-editor==1.0.4
pytz==2021.1
pywin32==301
PyYAML==5.4.1
pyzmq==20.0.0
querystring-parser==1.2.4
ray==1.2.0
redis==4.4.4
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
scikit-learn==0.23.2
scikit-optimize==0.8.1
scipy==1.10.0
six @ file:///C:/ci/six_1605187374963/work
sklearn==0.0
smmap==3.0.4
SQLAlchemy==1.3.23
sqlparse==0.4.4
stevedore==3.3.0
tabulate==0.8.7
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
threadpoolctl==2.1.0
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm==4.59.0
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typing-extensions==3.7.4.3
urllib3==1.26.5
waitress==2.1.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
websocket-client==0.58.0
Werkzeug==2.3.8
wincertstore==0.2
xgboost==1.3.3
yarl==1.6.3
